@import '../init';
.location {
  &-item {
    position: relative;
    &__title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      box-shadow: 0px 10px 30px 0px rgb(82 63 105 / 8%);
      padding: 12px 15px;
      font-weight: 600;
      border: 1px solid #ebedf3;
      border-radius: 4px;
      color: #222222;
      transition: all 0.2s ease;
      &:hover {
        background-color: $primary;
      }
      span {
        width: calc(100% - 25px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
      }
      i {
        position: absolute;
        right: 15px;
        top: 13px;
        font-size: 20px;
        color: #b5b5c3;
      }
    }
    input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      &:checked ~ div.location-item__title {
        background-color: $ezs;
        color: #fff;
        i {
          color: #fff;
        }
      }
    }
  }
}

.date-time {
  &-navlink {
    background: #edf2f7;
    border: 1px solid #edf2f7;
    color: #718096;
    border-radius: 2px;
    cursor: pointer;
    @media (max-width: 767px) {
      font-size: 12px;
      padding-left: 0;
      padding-right: 0;
    }
    &.active {
      background: #fff;
      border: 1px solid $ezs;
      color: $ezs;
    }
  }
  &-radio {
    input {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
    }
    .time {
      font-size: 13px;
      cursor: pointer;
      @media (max-width: 767px) {
        font-size: 12px;
      }
      &.active {
        border: 1px solid $ezs !important;
        background: $ezs;
        color: $white;
      }
      &.disabled {
        cursor: no-drop;
        pointer-events: none;
        opacity: 0.55 !important;
      }
    }
  }
  .support-scroll {
    margin-top: 15px;
    display: flex;
    justify-content: end;
    &__text {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 11px;
      color: #b91a2f;
      width: 150px;
    }
    &__icon {
      width: 50px;
      height: 15px;
      position: relative;
      .line {
        position: absolute;
        width: calc(100% - 3px);
        height: 2px;
        background: #b91a2f;
        top: 50%;
        left: 0;
        animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
        transform: translateX(-50%);
      }
      .arrow {
        position: absolute;
        right: 1px;
        top: -3px;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        z-index: 2;
        font-size: 16px;
        color: #b91a2f;
      }
    }
  }
  .slider-control-centerright {
    top: auto !important;
    bottom: -25px !important;
    transform: none !important;
    position: absolute;
  }
  .tab-content {
    padding-bottom: 30px;
  }
}

@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@-moz-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@-o-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.tab-book {
  &__content {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background: #f3f6f9;
    transition: transform 0.25s;
    transition-timing-function: ease-in-out;
    opacity: 1 !important;
  }
  .tab-booking {
    transform: translateX(-100%);
    &.active {
      transform: translateX(0%);
    }
  }
  .tab-confirm {
    transform: translateX(100%);
    &.active {
      transform: translateX(0%);
    }
  }
}

.confirm-search {
  i {
    position: absolute;
    right: 15px;
    top: 16px;
    font-size: 16px;
    color: #555;
    pointer-events: none;
  }
}

.service-box {
  margin-bottom: 12px;
  input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;
    &:checked {
      ~ .item-service {
        border: 1px solid $ezs;
        i {
          color: $ezs;
        }
      }
    }
  }
  .item-service {
    padding: 15px 60px 15px 15px;
    border-radius: 8px;
    border: 1px solid #f2f5f9;
    transition: all 0.2s ease;
    position: relative;
    &__title {
      font-size: 15px;
    }
    i.fa-circle-check {
      position: absolute;
      right: 20px;
      top: 50%;
      font-size: 20px;
      transform: translateY(-50%);
      color: #3333;
    }
    .hot {
      display: none;
    }
    &.deal-hot {
      .hot {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 767px) {
  .note-text {
    font-size: 12px;
  }
}
