
*, *::before, *::after {
    box-sizing: border-box;
}

li {
    list-style: none;
}

html, body {
    margin: 0;
    padding: 0;
}
#root {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.p-15px {
    padding: 15px;
}

.btn {
    outline: none !important;
}

.mr-8px {
    margin-right: 8px;
}

.mb-5px {
    margin-bottom: 5px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.h-100 {
    height: 100% !important;
}

.m-h-100 {
    min-height: 100% !important;
}

.iframe-cardmoney {
    .list-moneycard {
        padding: 15px;
        table {
            margin-bottom: 0;
        }
        .item-moneycard {
            border-bottom: 1px dashed #e7e7e7;
            .moneycard-title {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 500;
                color: #222;
                margin-bottom: 5px;
            }
        }
        .moneycard-btn {
            display: flex;
            flex-direction: column;
        }
        .moneycard-history {
            margin-top: 15px;
            ul {
                list-style: none;
                margin: 20px 0 0;
                padding: 0;
                padding-left: 30px;
                position: relative;
                &:before {
                    content: "";
                    height: 100%;
                    width: 1px;
                    border-left: 1px dashed #cccbcd;
                    position: absolute;
                    left: 10px;
                    top: -2px;
                }
                li {
                    position: relative;
                    margin-bottom: 15px;
                    &:before {
                        content: "";
                        width: 10px;
                        height: 10px;
                        position: absolute;
                        border-radius: 100%;
                        left: -24px;
                        top: 6px;
                        background: #d0011b;
                    }
                    .price {
                        position: relative;
                        display: flex;
                        align-items: baseline;
                        .price-number {
                            color: #464343;
                            font-size: 14px;
                            font-weight: 700;
                        }
                        .price-time {
                            color: #a3a1a0;
                            padding-left: 5px;
                        }
                    }
                    .note {
                        color: #717070;
                    }
                }
            }
        }
    }
}

.title-2 {
    >div {
        display: none;
    }
}

@media (max-width: 767px) {
    .table-responsive-attr {
        border: 0;
        table.table-bordered {
            display: block;
            thead {
                display: none;
            }
            tbody,
            tr,
            td {
                display: block;
            }
            tr {
                border: 1px solid #ddd;
            }
            tr {
                position: relative;
                margin-bottom: 15px;
                td {
                    &.react-bs-table-no-data {
                        padding-left: 1rem;
                        justify-content: center;
                        .page-loaders--table {
                            left: 0;
                            transform: translateX(0%);
                        }
                    }
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex-wrap: wrap;
                    padding-left: 40%;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    padding-right: 1rem;
                    min-height: 45px;
                    border-width: 0;
                    &:not(:last-child) {
                        border-bottom: 1px solid #ddd;
                    }
                    &:before {
                        content: attr(data-title);
                        position: absolute;
                        left: 12px;
                        text-transform: uppercase;
                        font-size: 0.9rem;
                        font-weight: 600;
                    }
                    &[data-action='true'] {
                        padding-left: 1rem;
                        justify-content: center;
                    }
                    &[data-action='content'] {
                        padding-left: 1rem;
                        justify-content: start;
                    }
                    .font-number {
                        font-weight: 600;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .iframe-cardmoney .list-moneycard .moneycard-btn {
        flex-direction: row;
        .mb-5px {
            margin-bottom: 0;
            margin-right: 8px;
        }
    }
    .iframe-cardmoney .list-moneycard .moneycard-history {
        margin-top: 0;
    }
    .title-2>div {
        display: block;
    }
}